/* Wrapper */
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Main Content */
.main-content {
  flex: 1;
}

/* Footer */
footer {
  background-color: #2d3748; /* bg-gray-800 */
  color: white;
  padding: 2rem 0; /* py-8 */
}